 <!-- FOOTER -->
    <div class="container">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="privacy">Privacy</a> &middot; <a href="terms">Terms</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- jquery -->
    <script type="text/javascript" src="/bower_components/jquery/jquery.js"></script>
    <!-- underscore -->
    <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
    <!-- json3 -->
    <script type="text/javascript" src="/bower_components/json3/lib/json3.js"></script>    
    <!-- backbone -->
    <script type="text/javascript" src="/bower_components/backbone/backbone.js"></script>
    <!-- Bootstrap -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap/js/holder.js"></script>

    <!-- main.js -->
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
